
body{

background-color:#fbfbed;
font-family: 'crimson text', serif;
margin-left: 0px;
margin-right: 0px;


}


.navtabs {
	-moz-box-shadow: 0px 0px 14px -7px #dcecfb;
	-webkit-box-shadow: 0px 0px 14px -7px #dcecfb;
	box-shadow: 0px 0px 14px -7px #dcecfb;
	background-color:#4ED4B5; <!-- a5deb0; -->
	border:1px solid #a5deb2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Quicksand', sans-serif;
	font-size:18px;
	font-weight:bold;
	padding:10px 34px;
	text-decoration:none;
	text-shadow:0px 0px 0px #0d2a47;
}
.navtabs:hover {
	background-color:#31b596;
	border: 0px solid #FA8072;

}
.navtabs:active {
	position:relative;
	top:1px;
}

.buttons {
	-moz-box-shadow: 0px 0px 14px -7px #dcecfb;
	-webkit-box-shadow: 0px 0px 14px -7px #dcecfb;
	box-shadow: 0px 0px 14px -7px #dcecfb;
	border:0px solid #a5deb2;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Quicksand', sans-serif;
	font-size:18px;
	font-weight:bold;
	padding:10px 34px;
	text-decoration:none;
	text-shadow:0px 0px 0px #0d2a47;
}
.buttons:hover {


}
.buttons:active {
	position:relative;
	top:1px;
}

#front{
  font-family:  'Quicksand', sans-serif;
  font-size:50px;
  color:#31b596; <!--#378A4B;-->
}

#text{
 color:  #8DE1D7;
  font-family: 'Crimson Text', serif;
  font-size:23px
}

#change{
  color:  #8DE1D7;
   font-family: 'Crimson Text', serif;
   font-size:23px
}

img{
border: 3px;
}
#img:hover{
border: 3px solid #fbfbed;
}

#pol{
	font-family: 'Quicksand', sans-serif;
  font-size:50px;
	color:#fbfbed;
	padding:15px;
	background-color: #31b596

}

#learnmore{
		font-family: 'Quicksand', sans-serif;
	  font-size:50px;
	}

#air{
	border: none;
}

#article:hover{
	border: 3px solid black;

}


#back{
	font-family:  'Quicksand', sans-serif;
  font-size:20px;
  color:#31b596;
}

#link{
	font-family: 'Crimson Text', serif;
  font-size: 12px;
}

#blurbtitle{
  font-size:30px;
  font-family: 'Quicksand', sans-serif;
  color:#3c3c3c;<!--#378A4B;-->
}
#blurb{
   font-family: 'Crimson Text', serif;
   font-size:20px;
   color:#3c3c3c;<!--#378A4B;-->
}


#bodyid{
  margin-left: 100px;
  margin-right:100px;
}

#imageheader{
	width: 100%;
	object-fit: cover;
	border: none;
}

#articletext{
	font-family:  'Quicksand', sans-serif;
  font-size:25px;
  color:#3c3c3cff;
}

#articleheader{
	font-family:  'Quicksand', sans-serif;
  font-size:40px;
  color:#378A4B;
}


#helptext{
	font-family:  'Quicksand', sans-serif;
  background-color: #31b596;
}

#petal2 {
  position: absolute;
  top: 955px;
  left: 680px;
  bottom: 0px;
  right:40px;
  width:23%;
  height:33%;
}

#petal3 {
  position: absolute;
  top: 1190px;
  left: 710px;
  bottom: 0px;
  right:30px;
  width:21%;
  height:31%;
}

#petal4 {
  position: absolute;
  top: 1190px;
  left: 300px;
  bottom: 0px;
  right:40px;
  width:21%;
  height:31%;
}

#petal5 {
  position: absolute;
  top: 960px;
  left: 290px;
  bottom: 0px;
  right:40px;
  width:22%;
  height:32%;
}

#toppetal {
  position: absolute;
  top: 800px;
  left: 510px;
  bottom: 0px;
  right:500px;
  width:20%;
  height:38%;
}

#bottompetal {
  position: absolute;
  top: 1300px;
  left: 500px;
}

#center {
  position: absolute;
  top: 1080px;
  left:485px;
}
#welcome {
  font-family: 'Quicksand', sans-serif;
  font-size:100px;
  color: white;
  position:absolute;
  top: 570px;
  left: 790px;
}
#hometext {
  font-family: 'Quicksand', serif;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 27px;
  color: #3c3c3cff;
}

#hometexttwo {
  font-family: 'Quicksand', serif;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 22px;
  color: #3c3c3cff;
}
#fademe{
  opacity:0;
  transition:2s;
}
#sources{
	font-family:  'Quicksand', sans-serif;
  font-size:15px;
  color:#A9A9A9;
}
